/trunk/test-all/test-app/.settings
/trunk/test-all/test-app/.classpath
/trunk/test-all/test-app/.project

/trunk/test-all/*.project

/trunk/test-book/*.classpath
/trunk/test-book/*.project

/trunk/test-gs/.project
/trunk/test-gs/.settings
/trunk/test-gs/.classpath

/trunk/test-android/*.classpath
/trunk/test-android/*.project
/trunk/test-android/*

/trunk/test-scala/.cache

/trunk/test-all/.settings

/trunk/test-all/test-webapp/.classpath
/trunk/test-all/test-webapp/.project
/trunk/test-all/test-webapp/.settings

/trunk/test-book/.settings
/.idea/
